# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
lemas-server.exe
norn-server.exe
xkiro-server.exe

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Environment variables
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
__pycache__/
